<router-outlet></router-outlet>
<sand-simple-select [dropdowndata]="dropdowndata" [disabledropdwon]="disabled" [selectLabel]="selectLabel"
    [noDataText]="noDataText" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (select)="onSelect($event)" (open)="open($event)" (close)="close($event)">
</sand-simple-select>

<ng-template #itemTemplate let-item let-position="index">
    <!-- <a [innerHTML]="item.name">{{position}}</a> -->
    <div class="containnner">{{item.name}}</div>
</ng-template>

<ng-container #notFoundTemplate></ng-container>